# Further Hypothesis Testing

## Assignment: ice cream

This assignment contains exercises to test your understanding of various hypothesis tests from the course. It is a good idea to revise the course material thoroughly before starting.

Use whatever computational resources you like to answer the questions (e.g. python, R, any other programming language, a spreadsheet, a calculator, ...).

### The data

The file `Ice_cream.csv` contains data collected on 200 high school students. These are:

* Subject ID
* Wears glasses (0=No, 1=Yes)
* Favourite ice cream flavour (1=Vanilla, 2=Chocolate, 3=Strawberry)
* Score on a video game
* Score on a puzzle

### The tasks

Answer the following questions:

1. Are the video game and puzzle scores normally distributed?

2. Is the video game as hard as the puzzle?

3. Is wearing glasses associated with a higher score on the puzzle game?

4. Do glasses wearers have different ice cream preferences to non-wearers?

5. Is the video game score independent of favourite ice cream?

---

In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("Ice_cream.csv")

In [11]:
obs = pd.crosstab(data.glasses, data.ice_cream,margins=True,margins_name="total")
obs

ice_cream   1   2   3  total
glasses
0          47  15  29     91
1          48  32  29    109
total      95  47  58    200

In [10]:
stats.contingency.expected_freq(obs)

array([[43.225, 21.385, 26.39 ],
       [51.775, 25.615, 31.61 ]])

In [13]:
stats.chi2_contingency(obs)

(4.57653239842952,
 0.5991528049719697,
 6,
 array([[ 43.225,  21.385,  26.39 ,  91.   ],
        [ 51.775,  25.615,  31.61 , 109.   ],
        [ 95.   ,  47.   ,  58.   , 200.   ]]))